*{
    margin: 0;
    padding: 0;
}

.page__one {
    height: 800px;
    background-color: #F9F6F1;
}
.container{
    max-width:1110px;
    margin: 0 auto;
}
.header a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-weight: 500;
    font-size: 14px;    
}
.category a {
    margin-right: 35px;
}
.logistic a {
    margin-left: 35px;
}

a:hover{
    color: #D7B399;
}

.header {
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 1110px;
    margin: 0 auto;
}
.sale_text {
    height: 225px;
    width: 570px;
    margin-top: 110px;
}
.sale_text_1 {
    font-size: 30px;
    font-family: montserrat;
    font-weight: 400;
}
.sale_text_2 {
    font-size: 55px;
    font-family: montserrat;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 55px;
}
.show_models{
    height: 55px;
    width: 200px;
    background-color: #D7B399;
    border: 0px;
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400; 
    cursor: pointer;   
}
.sale_window{
    display: flex;
    justify-content: space-between;
}
.sale_window img {
    height: 450px;
    margin-top: 78px;    
}
.page_two {
    background-color: #212121;
    height: 235px;
    color: white;
    text-align: center;    
}
.free_delivery {
    font-family: montserrat;
    font-size: 30px;
    font-weight: 400;
    padding-top: 80px;
    padding-bottom: 23px;
}
.order {
    font-family: montserrat;
    font-size: 21px;
    font-weight: 300;
}
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
}
.modal__main {
    position: relative;
    max-width: 600px;
    background-color: antiquewhite;
    margin: auto;
    color: black;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}
.modal__title {
    margin-bottom: 30px;
}
.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.page_three {
    
    display: flex;
    align-items: center;
}

.male_wear, .female_wear {
    width: 555px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.male_wear {
    background-color: #F9F6F1;
}
.female_wear {
    background-color: #F4F4F4;
}

.male_text_section, .female_text_section {
    display: block;
    justify-content: space-between;
    align-items: center;
    
}
.male_wear_text_1, .female_wear_text_1 {
    font-family: montserrat;
    font-weight: 500;
    font-size: 24px;
}
.male_wear_text_2, .female_wear_text_2 {
    font-family: montserrat;
    font-weight: 300;
    font-size: 16px;
}
.page_three img {
    height: 171px; 
    width: 190px;
}